<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
  <meta charset="UTF-8">
  <title>Patients Patients</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">


</head>
<body>
<div layout:fragment="content">
  <div class="p-3">
    <div class="card">
      <div class="card-header">Liste des patients</div>
      <div class="card-body">
        <form method="get" th:href="@{admin/index}">
          <ul class="nav nav-pills">
            <li>
              <label class="form-label">Keyword:</label>
            </li>
            <li>
              <input type="text" class="form-control" name="keyword">
            </li>
            <li>
              <button  class="btn btn-inverse btn-info">
                SEARCH

              </button>
            </li>
          </ul>
        </form>
        <table class="table">
          <thead>
          <tr>
            <th>ID</th><th>Nom</th><th>Date</th><th>Malade</th><th>Type</th><th>doctor</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p:${listPatients}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nom}"></td>
            <td th:text="${p.dateNaissance}"></td>
            <td th:text="${p.malade}"></td>
            <td th:text="${p.type}"></td>
            <td th:text="${p.doctor.name}"></td>
            <td></td>
            <td>
              <a onclick="return confirm('Etes vous sûre?')" class="btn btn-danger"
                 th:href="@{/admin/deletePatient(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
              DELETE
              </a>
            </td>
            <td>
              <a  class="btn btn-inverse btn-warning"
                  th:href="@{/admin/editPatient(id=${p.id})}">
                EDIT
              </a>
            </td>




          </tr>
          <a  class="btn btn-inverse btn-success"
              th:href="@{/formPatient}">
            ADD
          </a>
          </tbody>
        </table>
        <ul class="nav nav-pills">
          <li th:each="page,status:${pages}">
            <a
                    th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                    th:href="@{index(page=${status.index}, keyword=${keyword})}"
                    th:text="${status.index}">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>