<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Patients </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

</head>
<body>
  <div layout:fragment="content">
    <div class="p-3">
      <div class="card">
        <div class="card-header">Liste des patients</div>
        <div class="card-body">
          <form method="get" th:href="@{/doctors/{id}/patients(id=${doctor.id})}">
            <ul class="nav nav-pills">
              <li>
                <label class="form-label">Keyword:</label>
              </li>
              <li>
                <input type="text" class="form-control" name="keyword">
              </li>
              <li>
                <button class="btn btn-info">
                  Search
                </button>
              </li>
            </ul>
          </form>
          <table class="table">
            <thead>
            <tr>
              <th>ID</th><th>Nom</th><th>Age</th><th>Malade</th><th>Type</th><th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
              <td th:text="${patient.id}"></td>
              <td th:text="${patient.nom}"></td>
              <td th:text="${patient.dateNaissance}"></td>
              <td th:text="${patient.malade}"></td>
              <td th:text="${patient.type}"></td>
              <td th:text="${patient.phone}"></td>
              <td>
                <a class="btn btn-inverse btn-warning" th:href="@{/doctors/editPatient(id=${patient.id})}">
                 EDIT
                </a>
              </td>
              <td>
                <a onclick="return confirm('Etes vous sûre?')" class="btn btn-danger"
                   th:href="@{/doctors/deletePatient(id=${patient.id})}">
                  DELETE
                </a>
              </td>

            </tr>
            </tbody>
          </table>
          <!-- pagination links -->

          <div class="pagination">
            <ul>
              <li th:if="${Page.number > 0}">
                <a th:href="@{/doctors/{id}/patients(id=${doctor.id},page=${Page.number - 1})}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li th:each="i : ${#numbers.sequence(0, Page.totalPages - 1)}"
                  th:class="${i == Page.number} ? 'active' : ''">
                <a th:href="@{/doctors/{id}/patients(id=${doctor.id}, page=${i}, keyword=${keyword})}" th:text="${i + 1}"></a>
              </li>
              <li th:if="${Page.number < Page.totalPages - 1}">
                <a th:href="@{/doctors/{id}/patients(id=${doctor.id},page=${Page.number + 1})}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>